<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleExecutable</key>
    <string>SDL2</string>
    <key>CFBundleIdentifier</key>
    <string>org.libsdl.SDL2</string>
    <key>CFBundleName</key>
    <string>SDL2</string>
    <key>CFBundleVersion</key>
    <string>2.0.4</string>
    <key>CFBundlePackageType</key>
    <string>FMWK</string>
</dict>
</plist>
